table {
   border-collapse: collapse; 
  table-layout: fixed;
  width: 70%;
  margin-top: 30px;
   border: 2px solid #007FFF;

}


th  {
  border-right: 2px solid #007FFF;
 background-color: #F9F9FB;
}

thead th:nth-child(3)  {
  border-right: none
}



tr {
  margin-bottom: 10px;
  border-bottom: 1px solid #007FFF;
}
thead tr {
  border-bottom: 2px solid #007FFF;
}
td {
 text-align: center;
  border-right: 1px solid #007FFF
}